{% extends 'inventory/base.html' %}
{% block content %}
<h1>Оборудование</h1>
<a class="btn btn-success mb-3" href="/equipment/new/">Добавить</a>
<table class="table table-striped"><tr><th>Инв.№</th><th>Серийный</th><th>Наименование</th><th>Тип</th><th>Общество</th><th>Статус</th><th>Обновлено</th></tr>
{% for i in items %}<tr><td><a href="/equipment/{{ i.id }}/">{{ i.inventory_number }}</a></td><td>{{ i.serial_number }}</td><td>{{ i.name }}</td><td>{{ i.equipment_type.name }}</td><td>{{ i.company.short_name }}</td><td>{{ i.status.name }}</td><td>{{ i.updated_at }}</td></tr>{% endfor %}
</table>
{% endblock %}
